.class1 {
    position: fixed;
    top: 0px;
    margin: 0px 0 0px;
    padding: 10px;
    background: rgb(223, 114, 199);
    color: rgb(157, 255, 0);
    border-radius: 20px;
    font-size: 50px;
}
    
.class2 {   
        background-color: lab(45.07% 31.37 46.06);
        margin: 10px;
        border: 10px solid lch(87.87% 112.65 138.57);
        padding: 20px;
        box-shadow: 10px 10px 10px 10px rgba(100, 100, 00, 2.4);
        color: rgb(30, 255, 0);
}        

.class3 {
    background-color: hwb(0 0% 100%);
    color: hwb(0 0% 0%);
}

.class4 {
    color: rgb(0, 0, 255);
    font-weight: bold;
}

.class5 {
    color: rgb(217, 255, 0);
    font-size: 20px;
    font-family: 'Arial';
}

.class6 {
    color: rgb(195, 0, 255);
    font-size: 20px;
    font-family: 'Arial';
    position: sticky;
        top: 100px;
        margin: 20px 0 10px;
        padding: 10px;
        background: white;
        border-radius: 20px;
        
}

.class7 {
    color: rgb(0, 255, 255);
    font-size: 20px;
    font-family: 'Arial';
}

.class8{
    border-radius: 30px;
    box-shadow: 10px 10px 10px 10px #ff0000;
    
}

.class9{
    color: rgb(0, 255, 221);
        font-size: 20px;
        font-family: 'Arial';
}

